[run]
source = 
	./src
	./src/api
	./src/api/endpoint
	./src/api/controllers
	./src/core
	./src/event
	./src/transmission
	./src/transmission/models
	./src/transmission/models/v1
	./src/scheduler/
	./src/scheduler/task
omit = 
	./venv/*
	./test/*
	./src/api/endpoint/models/*

